.classpath
.project
.settings/
target/
.externalToolBuilders/
lib-core/de.mhus.lib.core.service.ServerIdent.properties
lib-jms/de.mhus.lib.core.service.ServerIdent.properties
lib-tests/de.mhus.lib.core.service.ServerIdent.properties
lib-tests/.DS_Store
lib-junit/de.mhus.lib.core.service.ServerIdent.properties
